@font-face {
    font-family: Digital;
    src: url(../fonts/digital-7.ttf) format("truetype");
    font-weight: normal;
}

html, body {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 520px;
    background-color: rgb(64, 224, 208);
    padding: 5px;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: space-evenly;
    border: 6px rgb(164, 250, 3) solid;
    border-radius: 10px;
    box-shadow: 4px 2px 2px 4px purple;
}

button {
    width: 90px;
    height: 70px;
    font-size: 28px;
    cursor: pointer;
    outline-color: azure;
    border: none;
    outline: none;
    box-shadow: 1px 1px 0px 1px;
    color: purple;
    transition: 0.1s;
}

button:active, .pressed {
    box-shadow: 3px 3px;
    transform: translateY(2px);
}

.operand, .decimal {
    background-color: rgb(10, 233, 110);
}

.operand:active, .operand.pressed, .decimal:active, .decimal.pressed {
    background-color: rgb(8, 210, 99);
}

.operator:active, .operator.pressed .equals:active, .equals.pressed{
    background-color: rgb(0, 225, 225);
}

.clear:active, .clear.pressed .sign:active, .sign.pressed , .percent:active, .percent.pressed {
    background-color: rgb(196, 106, 196);
}

.clear, .sign, .percent {
    background-color: violet;
}

.operator, .equals {
    background-color: cyan;
}

#display {
    width: 375px;
    height: 90px;
    background-color: antiquewhite;
    padding-right: 10px;
    border-radius: 10px;
    text-align: end;
    vertical-align: middle;
    font-size: 70px;
    line-height: 90px;
    font-family: Digital;
    letter-spacing: 3px;
    border: 3px solid fuchsia;
    color: purple;
}

.zero {
    width: 188px;
}
